*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(205, 231, 170)
}

body{
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 60px;
}

#intro {
    margin-bottom: 30px;
}

#start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#start-page .container{
    margin-top: 75px;
    text-align: center;
    padding: 2rem;
}

button{
    padding: .5rem 1rem;
    margin: .5rem 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#new-search-button{
    padding: auto;
    margin: 10px;
    background-color: rgb(205, 231, 170)
}

#nav-bar {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

#logo {
    width: 60px;
    padding: 2px 5px 0 4px;    
}

.hidden {
    display: none;
}

h2 {
    margin-bottom: 40px;
}

input {
    margin-top: 15px;
    padding: 0 0 0 3px;
    border: 1px solid black;
    border-radius: 5px;
}

select {
    background-color: white;
    border: 1px solid black;
}

#search-form{
    text-align: left;
}

/* map box */
#map {
    width: 95%; height: 250px;
    position: fixed;
}

/* #map-container {
    margin: 4px 0;
} */

/* results */
#results {
    margin: 0 10px;
}

#results-list {
    list-style-type: none;
    margin-top: 280px;
}

#results-container{
    overflow: scroll;
}

#search-results {
    margin-top: 250px;
    padding-top: 20px;
    position: fixed;
    background-color: rgb(205, 231, 170);
    width: 100%;
}

@media (min-width: 600px) {
    button {
        font-size: 90%;
    }

    #intro{
        font-size: 120%;
    }

    form {
        font-size: 150%;
    }

    input {
        height: 30px;
        width: 200px;
    }

    select {
        height: 30px;
    }

    h2 {
        font-size: 200%;
        margin-bottom: 60px;
    }
}