*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

#start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start-page .container{
    text-align: center;
    background: lightgray ;
    width: 80%;
    padding: 2rem;
}

button{
    padding: .5rem 1rem;
    margin: .5rem 0;
}
