:root{
    --primary: #f8be68;
    --primary-dark: #e78f0a;
    --primary-light: #ffd95b;
    --dark: #263238;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--dark);
}

p{
    color: var(--dark);
}

.info{ 
    line-height: 25px; 
    padding-bottom: 30px;
    max-width: 560px; 
}

body{
    padding: 0;
    margin: 0;
    background: var(--primary);
    font-weight: bold;
}

h1 {
    margin-bottom: 60px;
}

#intro {
    margin-bottom: 30px;
}

#start-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-page .container{
    margin-top: 75px;
    text-align: center;
    padding: 2rem;
}

button{
    padding: .5rem 1rem;
    margin: .5rem 0;
    background-color: var(--primary-dark);
    color: #fff;
    border: 1px solid var(--primary-light);
    border-radius: 5px;
}

#getRestBtn:disabled {
    background: rgb(238, 237, 237);
}
#getRestBtn {
    background-color: var(--primary-dark);
}

.loader {
    border: 1.8px solid #ffffff; /* Light grey */
    border-top: 1.8px solid #000; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.7s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  

#new-search-button{
    background: var(--primary);
    color: #000;
    padding: auto;
    margin: 10px;
}

#nav-bar {
    background-color: var(--primary-dark);
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

#logo {
    width: 60px;
    padding: 2px 5px 0 4px;    
}

.hidden {
    display: none;
}

h2 { 
    margin-bottom: 40px; 
}

input {
    margin-top: 15px;
    padding: 0 0 0 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.cities {
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin-left: 73px;
    padding: 0 0 0 3px;
    border-radius: 5px;
    font-size: 15px;
}

.cities:hover {
    cursor: pointer;
}

.city:hover{
    text-decoration: underline;
}

select {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#search-form{
    text-align: left;
}

/* map box */
#map {
    border: 2px solid #ffd95b;
    width: 100%; 
    height: 300px;
    position: relative;
    margin-top: 30px;
}

.map-container {
    display: flex;
    justify-content: center;
}

.mapboxgl-popup-content { 
    padding: 0 10px 0px !important; 
    border: 1px solid #f8be68; 
}

.mapboxgl-popup-close-button { 
    display: none; 
}

.mapboxgl-ctrl-group { 
    border: 1px solid #f8be68; 
    box-shadow: 0 0 0 1px #ffd95b !important; 
}

.mapboxgl-popup-content {
    padding: 0 10px 0px !important;
}

.mapboxgl-popup-close-button {
    display: none;
}

/* results */
#results {
    margin: 0 10px;
}

#results-list {
    list-style-type: none;
}

#results-container{
    overflow: scroll;
}

#search-results {

    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: var(--primary-dark);
    width: 100%;
}

@media (min-width: 600px) {
    button {
        font-size: 90%;
    }

    #intro{
        font-size: 120%;
    }

    form {
        font-size: 150%;
    }

    input {
        height: 30px;
        width: 200px;
    }

    select {
        height: 30px;
    }

    h2 {
        font-size: 200%;
        margin-top: 20px;
    }

    #search-results {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #map {
        margin-top: 100px;
    }
}